# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/
!/broadcast/*/31337/

# Dotenv file
.env

# Dependencies
lib/

# Coverage
lcov.info
coverage/

# Node (if using npm for anything)
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Gas snapshots
.gas-snapshot
